# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Local environment overrides and secrets
.env
.env.local
.env.*.local

vendor/
public/temp
public/thumbs
public/thumbs/index.html
public/playlists/

# Files and notes which should't be checked into Github
deleted_show_table-(future work).md
json-export-mini-spec.md
bugs.md
first-run-mini-spec.md
FreeTV-Settings-Architecture.md
/public/playlists
