html {
    min-width: 420px;
    max-width: 100vw;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    min-width: 420px;
    max-width: 100vw;
}

/* Fonts */
@font-face {
    font-family: "Bruno Ace";
    src: url('/src/assets/fonts/BrunoAce-Regular.ttf');
}
.bruno-ace {
    font-family: "Bruno Ace", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.outerwrapper {
    padding: 25px;
}

.loginform {
    border: 3px solid var(--bs-secondary); 
    padding: 10px; 
    border-radius: 24px;
}

.disabled-item {
    opacity: 0.6;
}

.disabled-item td {
    position: relative;
}

.disabled-item td::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.1);
    pointer-events: none;
}

.noselect {
    user-select: none;
}

.position-relative {
    position: relative;
    min-height: 50px;
}

.tinybtn {
    --bs-btn-padding-y: .2rem; 
    --bs-btn-padding-x: .3rem; 
    --bs-btn-font-size: .70rem;
}

/* Admin Dashboard top navbar: Castle (home) */
.castle-icon {
    background-image: url('/src/assets/castle-white.svg');
}
.castle-icon:hover, .dropdown-item-custom:hover .castle-icon {
    background-image: url('/src/assets/castle-blue.svg');
}
.icon-btn.active.castle-icon, .dropdown-item-custom.active .castle-icon {
    background-image: url('/src/assets/castle-blue.svg');
}

/* Admin Dashboard top navbar: Search */
.search-icon {
    background-image: url('/src/assets/search-white.svg');
}
.search-icon:hover, .dropdown-item-custom:hover .search-icon {
    background-image: url('/src/assets/search-blue.svg');
}
.icon-btn.active.search-icon, .dropdown-item-custom.active .search-icon {
    background-image: url('/src/assets/search-blue.svg');
}

/* Admin Dashboard top navbar: Thumbnails */
.thumbs-icon {
    background-image: url('/src/assets/thumbnails-white.svg');
}
.thumbs-icon:hover, .dropdown-item-custom:hover .thumbs-icon {
    background-image: url('/src/assets/thumbnails-blue.svg');
}
.icon-btn.active.thumbs-icon, .dropdown-item-custom.active .thumbs-icon {
    background-image: url('/src/assets/thumbnails-blue.svg');
}

/* Admin Dashboard top navbar: Problems */
.problems-icon {
    background-image: url('/src/assets/problems-white.svg');
}
.problems-icon:hover, .dropdown-item-custom:hover .problems-icon {
    background-image: url('/src/assets/problems-blue.svg');
}
.icon-btn.active.problems-icon, .dropdown-item-custom.active .problems-icon {
    background-image: url('/src/assets/problems-blue.svg');
}

/* Admin Dashboard top navbar: Users */
.users-icon {
    background-image: url('/src/assets/users-white.svg');
}
.users-icon:hover, .dropdown-item-custom:hover .users-icon {
    background-image: url('/src/assets/users-blue.svg');
}
.icon-btn.active.users-icon, .dropdown-item-custom.active .users-icon {
    background-image: url('/src/assets/users-blue.svg');
}

/* Admin Dashboard top navbar: Settings */
.settings-icon {
    background-image: url('/src/assets/settings-white.svg');
}
.settings-icon:hover, .dropdown-item-custom:hover .settings-icon {
    background-image: url('/src/assets/settings-blue.svg');
}
.icon-btn.active.settings-icon, .dropdown-item-custom.active .settings-icon {
    background-image: url('/src/assets/settings-blue.svg');
}

/* Admin Dashboard top navbar: Logout */
.logout-icon {
    background-image: url('/src/assets/logout-white.svg');
}
.logout-icon:hover, .dropdown-item-custom:hover .logout-icon {
    background-image: url('/src/assets/logout-blue.svg');
}
.icon-btn.active.logout-icon, .dropdown-item-custom.active .logout-icon {
    background-image: url('/src/assets/logout-blue.svg');
}

.infoBtnAdmin {
    width: 24px;
    height: 24px;
    background-image: url('/src/assets/info-circle-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: white;
}

.infoBtnAdmin:hover {
    background-image: url('/src/assets/info-circle-blue.svg');
}

.customBlue {
    color: #20B2AA;
}