.outerwrapper {
    padding: 25px;
}

.loginform {
    border: 3px solid var(--bs-secondary); 
    padding: 10px; 
    border-radius: 24px;
}

.disabled-item {
    opacity: 0.6;
}

.disabled-item td {
    position: relative;
}

.disabled-item td::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.1);
    pointer-events: none;
}

.position-relative {
    position: relative;
    min-height: 50px;
}

.tinybtn {
    --bs-btn-padding-y: .18rem; 
    --bs-btn-padding-x: .27rem; 
    --bs-btn-font-size: .65rem;
}

/* Admin Dashboard top navbar: Castle (home) */
.castle-icon {
    background-image: url('/assets/castle-white.svg');
}
.castle-icon:hover, .dropdown-item-custom:hover .castle-icon {
    background-image: url('/assets/castle-blue.svg');
}
.icon-btn.active.castle-icon, .dropdown-item-custom.active .castle-icon {
    background-image: url('/assets/castle-blue.svg');
}

/* Admin Dashboard top navbar: Search */
.search-icon {
    background-image: url('/assets/search-white.svg');
}
.search-icon:hover, .dropdown-item-custom:hover .search-icon {
    background-image: url('/assets/search-blue.svg');
}
.icon-btn.active.search-icon, .dropdown-item-custom.active .search-icon {
    background-image: url('/assets/search-blue.svg');
}

/* Admin Dashboard top navbar: Thumbnails */
.thumbs-icon {
    background-image: url('/assets/thumbnails-white.svg');
}
.thumbs-icon:hover, .dropdown-item-custom:hover .thumbs-icon {
    background-image: url('/assets/thumbnails-blue.svg');
}
.icon-btn.active.thumbs-icon, .dropdown-item-custom.active .thumbs-icon {
    background-image: url('/assets/thumbnails-blue.svg');
}

/* Admin Dashboard top navbar: Problems */
.problems-icon {
    background-image: url('/assets/problems-white.svg');
}
.problems-icon:hover, .dropdown-item-custom:hover .problems-icon {
    background-image: url('/assets/problems-blue.svg');
}
.icon-btn.active.problems-icon, .dropdown-item-custom.active .problems-icon {
    background-image: url('/assets/problems-blue.svg');
}

/* Admin Dashboard top navbar: Users */
.users-icon {
    background-image: url('/assets/users-white.svg');
}
.users-icon:hover, .dropdown-item-custom:hover .users-icon {
    background-image: url('/assets/users-blue.svg');
}
.icon-btn.active.users-icon, .dropdown-item-custom.active .users-icon {
    background-image: url('/assets/users-blue.svg');
}

/* Admin Dashboard top navbar: Settings */
.settings-icon {
    background-image: url('/assets/settings-white.svg');
}
.settings-icon:hover, .dropdown-item-custom:hover .settings-icon {
    background-image: url('/assets/settings-blue.svg');
}
.icon-btn.active.settings-icon, .dropdown-item-custom.active .settings-icon {
    background-image: url('/assets/settings-blue.svg');
}

/* Admin Dashboard top navbar: Logout */
.logout-icon {
    background-image: url('/assets/logout-white.svg');
}
.logout-icon:hover, .dropdown-item-custom:hover .logout-icon {
    background-image: url('/assets/logout-blue.svg');
}
.icon-btn.active.logout-icon, .dropdown-item-custom.active .logout-icon {
    background-image: url('/assets/logout-blue.svg');
}

.infoBtnAdmin {
    width: 24px;
    height: 24px;
    background-image: url('/assets/info-circle-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: white;
}

.infoBtnAdmin:hover {
    background-image: url('/assets/info-circle-blue.svg');
}

/* The blue color of the hover state of the navbar icons */
.customBlue {
    color: #20B2AA;
}

/* used by ShowThumbnailControls.jsx */
.xsmall {
    font-size: x-small;
}

.external-link-btn img {
  transition: filter 0.2s;
}

.external-link-btn:hover img {
  content: url('/assets/external-link-white.svg');
}

.nothumbs {
    border: 1px dashed black !important;
    border-radius: 10px !important;
    padding: 10px;
    margin-top: 15px;
    min-width: 120px;
}

.tm-leftcol {
    height: 450px;
    overflow-y: auto;
    min-width: 130px;
    overflow-x: hidden;
}

.settingsAppWrapper {
    border: 1px dashed var(--bs-secondary);
    border-radius: 36px;
    padding: 20px;
}

/* Medium Screen */
@media (max-width: 767.98px) {
    .admin-nav-row1,
    .admin-nav-row2 {
        width: 100%;
        justify-content: center;
        gap: 0.50rem;
    }
    .admin-nav-row1 {
        margin-bottom: 0.5rem;
    }
    .admin-nav-row2 {
        margin-bottom: 0;
    }  
}

/* Medium + Screens  */
@media (min-width: 768px) {
  .admin-nav-flex {
    gap: 0.75rem;
  }
  .admin-nav-row1,
  .admin-nav-row2 {
    gap: 0.75rem;
  }
}